# ANÁLISE E TESTE QUI-QUADRADO  - FREQUÊNCIA NO HEXÁGONO X AUMENTO DE PASSAGEIROS COM RELAÇÃO AO MÊS ANTERIOR

A variável frequência é quantitativa, o primeiro passo é categrizá-la.

In [9]:
# Pacotes
import numpy as np
from scipy.stats import chi2_contingency
import pandas as pd

In [10]:
teste_qui_caminho = r"C:\Users\Administrador\Downloads\TCC-20240110T120732Z-001\Dados_UP Gloria\Dados_gerais2.xlsx"
teste_qui = pd.read_excel(teste_qui_caminho)
teste_qui.head()

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster
0,89a88cd8527ffff,São Salvador,Glória,"agosto, 2022",0,42,1,86,1328,704.1,1,2
1,89a88cd8537ffff,Glória,Glória,"agosto, 2022",0,61,3,100,1245,668.0,1,0
2,89a88cd8583ffff,Glória,Glória,"agosto, 2022",0,76,3,306,1703,627.0,1,0
3,89a88cd8587ffff,Glória,Glória,"agosto, 2022",0,19,1,44,1143,621.8,0,2
4,89a88cd8593ffff,Álvaro Camargos,Glória,"agosto, 2022",0,17,1,52,2192,631.6,0,0

In [11]:
# Identificar os clusters únicos
clusters_unicos = teste_qui['Cluster'].unique()

# Criar um dicionário para armazenar dataframes para cada cluster
dataframes_por_cluster = {cluster: teste_qui[teste_qui['Cluster'] == cluster] for cluster in clusters_unicos}

# Verificar a criação dos dataframes, mostrando a quantidade de linhas de cada um
quantidade_por_cluster = {cluster: len(df) for cluster, df in dataframes_por_cluster.items()}
quantidade_por_cluster

{2: 275, 0: 198, 1: 22, 3: 66}

In [17]:
# Filtrar o dataframe para o cluster 2
cluster_0_df = teste_qui[teste_qui['Cluster'] == 0]

# Mostrar as primeiras linhas do dataframe filtrado para o cluster 2
cluster_0_df.head()

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster
1,89a88cd8537ffff,Glória,Glória,"agosto, 2022",0,61,3,100,1245,668.0,1,0
2,89a88cd8583ffff,Glória,Glória,"agosto, 2022",0,76,3,306,1703,627.0,1,0
4,89a88cd8593ffff,Álvaro Camargos,Glória,"agosto, 2022",0,17,1,52,2192,631.6,0,0
8,89a88cd85afffff,Glória,Glória,"agosto, 2022",0,8,3,94,1420,753.5,0,0
9,89a88cd85b3ffff,Novo Glória,Glória,"agosto, 2022",0,219,3,308,2021,725.7,1,0

In [18]:
# Filtrar o dataframe para o cluster 2
cluster_1_df = teste_qui[teste_qui['Cluster'] == 1]

# Mostrar as primeiras linhas do dataframe filtrado para o cluster 2
cluster_1_df.head()

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster
13,89a88cda317ffff,Delta,Glória,"agosto, 2022",0,250,4,297,933,1675.7,0,1
21,89a88cda3bbffff,Califórnia,Glória,"agosto, 2022",0,74,4,117,497,1184.4,0,1
64,89a88cda317ffff,Delta,Glória,"setembro, 2022",1,274,4,293,933,1675.7,0,1
72,89a88cda3bbffff,Califórnia,Glória,"setembro, 2022",1,67,4,115,497,1184.4,0,1
115,89a88cda317ffff,Delta,Glória,"outubro, 2022",1,249,4,302,933,1675.7,0,1

In [16]:
# Filtrar o dataframe para o cluster 2
cluster_2_df = teste_qui[teste_qui['Cluster'] == 2]

# Mostrar as primeiras linhas do dataframe filtrado para o cluster 2
cluster_2_df.head()

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster
0,89a88cd8527ffff,São Salvador,Glória,"agosto, 2022",0,42,1,86,1328,704.1,1,2
3,89a88cd8587ffff,Glória,Glória,"agosto, 2022",0,19,1,44,1143,621.8,0,2
5,89a88cd8597ffff,Conjunto Jardim Filadélfia,Glória,"agosto, 2022",0,220,2,80,1003,450.4,1,2
6,89a88cd85a3ffff,Glória,Glória,"agosto, 2022",0,10,1,11,779,745.2,0,2
7,89a88cd85a7ffff,Glória,Glória,"agosto, 2022",0,166,3,100,926,655.6,1,2

In [19]:
# Filtrar o dataframe para o cluster 
cluster_3_df = teste_qui[teste_qui['Cluster'] == 3]

# Mostrar as primeiras linhas do dataframe filtrado para o cluster 
cluster_3_df.head()

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster
17,89a88cda337ffff,Califórnia,Glória,"agosto, 2022",0,0,1,50,322,503.6,0,3
18,89a88cda3a3ffff,Califórnia,Glória,"agosto, 2022",0,76,1,98,419,588.7,0,3
32,89a88cdae17ffff,Pindorama,Glória,"agosto, 2022",0,95,1,93,461,469.0,0,3
46,89a88cdae8fffff,Pindorama,Glória,"agosto, 2022",0,29,1,93,155,293.4,0,3
47,89a88cdae9bffff,Pindorama,Glória,"agosto, 2022",0,184,1,72,26,257.5,0,3

In [25]:
# Para criar categorias para a variável 'Frequencia_HEX', vamos dividir os dados em quartis dentro do cluster 2.

# Primeiro, vamos encontrar os quartis dentro do cluster 2
quartis_cluster_0 = cluster_0_df['Frequencia_HEX'].quantile([0.25, 0.5, 0.75])
quartis_cluster_0

# Agora vamos usar pd.cut para criar as categorias categóricas baseadas nesses quartis
# Vamos definir as categorias como 'Baixa', 'Média', 'Alta', 'Muito Alta'
categorias = ["Baixa", "Média", "Alta", "Muito Alta"]
cluster_0_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_0_df['Frequencia_HEX'], 
                                                   bins=[-float("inf"), quartis_cluster_0[0.25], quartis_cluster_0[0.5], 
                                                         quartis_cluster_0[0.75], float("inf")], 
                                                   labels=categorias)

# Exibir as primeiras linhas para verificar a categorização
cluster_0_df.head()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_15532\2876024918.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_0_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_0_df['Frequencia_HEX'],

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster,Frequencia_HEX_Categoria
1,89a88cd8537ffff,Glória,Glória,"agosto, 2022",0,61,3,100,1245,668.0,1,0,Média
2,89a88cd8583ffff,Glória,Glória,"agosto, 2022",0,76,3,306,1703,627.0,1,0,Muito Alta
4,89a88cd8593ffff,Álvaro Camargos,Glória,"agosto, 2022",0,17,1,52,2192,631.6,0,0,Baixa
8,89a88cd85afffff,Glória,Glória,"agosto, 2022",0,8,3,94,1420,753.5,0,0,Média
9,89a88cd85b3ffff,Novo Glória,Glória,"agosto, 2022",0,219,3,308,2021,725.7,1,0,Muito Alta

In [26]:
# Vamos realizar o teste do qui-quadrado entre 'Aumentou' e 'Frequencia_HEX_Categoria'

# Criar uma tabela de contingência
contingency_table_cluster_0 = pd.crosstab(cluster_0_df['Aumentou'], cluster_0_df['Frequencia_HEX_Categoria'])

# Realizar o teste qui-quadrado
chi2_result, p_value, dof, expected_freq = chi2_contingency(contingency_table_cluster_0)

chi2_result, p_value, dof, expected_freq, contingency_table_cluster_0

(0.339496484308009,
 0.9524368692235805,
 3,
 array([[ 7.07070707,  6.92929293,  6.92929293,  7.07070707],
        [42.92929293, 42.07070707, 42.07070707, 42.92929293]]),
 Frequencia_HEX_Categoria  Baixa  Média  Alta  Muito Alta
 Aumentou
 0                             7      8     6           7
 1                            43     41    43          43)

In [22]:
# Para criar categorias para a variável 'Frequencia_HEX', vamos dividir os dados em quartis dentro do cluster 2.

# Primeiro, vamos encontrar os quartis dentro do cluster 2
quartis_cluster_1 = cluster_1_df['Frequencia_HEX'].quantile([0.25, 0.5, 0.75])
quartis_cluster_1

# Agora vamos usar pd.cut para criar as categorias categóricas baseadas nesses quartis
# Vamos definir as categorias como 'Baixa', 'Média', 'Alta', 'Muito Alta'
categorias = ["Baixa", "Média", "Alta", "Muito Alta"]
cluster_1_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_1_df['Frequencia_HEX'], 
                                                   bins=[-float("inf"), quartis_cluster_1[0.25], quartis_cluster_1[0.5], 
                                                         quartis_cluster_1[0.75], float("inf")], 
                                                   labels=categorias)

# Exibir as primeiras linhas para verificar a categorização
cluster_1_df.head()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_15532\299724352.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_1_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_1_df['Frequencia_HEX'],

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster,Frequencia_HEX_Categoria
13,89a88cda317ffff,Delta,Glória,"agosto, 2022",0,250,4,297,933,1675.7,0,1,Alta
21,89a88cda3bbffff,Califórnia,Glória,"agosto, 2022",0,74,4,117,497,1184.4,0,1,Baixa
64,89a88cda317ffff,Delta,Glória,"setembro, 2022",1,274,4,293,933,1675.7,0,1,Alta
72,89a88cda3bbffff,Califórnia,Glória,"setembro, 2022",1,67,4,115,497,1184.4,0,1,Baixa
115,89a88cda317ffff,Delta,Glória,"outubro, 2022",1,249,4,302,933,1675.7,0,1,Muito Alta

In [27]:
# Vamos realizar o teste do qui-quadrado entre 'Aumentou' e 'Frequencia_HEX_Categoria'

# Criar uma tabela de contingência
contingency_table_cluster_1 = pd.crosstab(cluster_1_df['Aumentou'], cluster_1_df['Frequencia_HEX_Categoria'])

# Realizar o teste qui-quadrado
chi2_result, p_value, dof, expected_freq = chi2_contingency(contingency_table_cluster_1)

chi2_result, p_value, dof, expected_freq, contingency_table_cluster_1

(1.9485714285714284,
 0.5831492105043583,
 3,
 array([[0.63636364, 0.36363636, 0.45454545, 0.54545455],
        [6.36363636, 3.63636364, 4.54545455, 5.45454545]]),
 Frequencia_HEX_Categoria  Baixa  Média  Alta  Muito Alta
 Aumentou
 0                             1      0     1           0
 1                             6      4     4           6)

In [20]:
# Para criar categorias para a variável 'Frequencia_HEX', vamos dividir os dados em quartis dentro do cluster 2.

# Primeiro, vamos encontrar os quartis dentro do cluster 2
quartis_cluster_2 = cluster_2_df['Frequencia_HEX'].quantile([0.25, 0.5, 0.75])
quartis_cluster_2

# Agora vamos usar pd.cut para criar as categorias categóricas baseadas nesses quartis
# Vamos definir as categorias como 'Baixa', 'Média', 'Alta', 'Muito Alta'
categorias = ["Baixa", "Média", "Alta", "Muito Alta"]
cluster_2_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_2_df['Frequencia_HEX'], 
                                                   bins=[-float("inf"), quartis_cluster_2[0.25], quartis_cluster_2[0.5], 
                                                         quartis_cluster_2[0.75], float("inf")], 
                                                   labels=categorias)

# Exibir as primeiras linhas para verificar a categorização
cluster_2_df.head()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_15532\836670770.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_2_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_2_df['Frequencia_HEX'],

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster,Frequencia_HEX_Categoria
0,89a88cd8527ffff,São Salvador,Glória,"agosto, 2022",0,42,1,86,1328,704.1,1,2,Alta
3,89a88cd8587ffff,Glória,Glória,"agosto, 2022",0,19,1,44,1143,621.8,0,2,Baixa
5,89a88cd8597ffff,Conjunto Jardim Filadélfia,Glória,"agosto, 2022",0,220,2,80,1003,450.4,1,2,Alta
6,89a88cd85a3ffff,Glória,Glória,"agosto, 2022",0,10,1,11,779,745.2,0,2,Baixa
7,89a88cd85a7ffff,Glória,Glória,"agosto, 2022",0,166,3,100,926,655.6,1,2,Muito Alta

In [28]:

# Criar uma tabela de contingência
contingency_table_cluster_2 = pd.crosstab(cluster_2_df['Aumentou'], cluster_2_df['Frequencia_HEX_Categoria'])

# Realizar o teste qui-quadrado
chi2_result, p_value, dof, expected_freq = chi2_contingency(contingency_table_cluster_2)

chi2_result, p_value, dof, expected_freq, contingency_table_cluster_2

(16.193049889731427,
 0.001035179796621031,
 3,
 array([[14.76363636, 14.34181818, 15.18545455, 13.70909091],
        [55.23636364, 53.65818182, 56.81454545, 51.29090909]]),
 Frequencia_HEX_Categoria  Baixa  Média  Alta  Muito Alta
 Aumentou
 0                            25     16    11           6
 1                            45     52    61          59)

In [23]:
# Para criar categorias para a variável 'Frequencia_HEX', vamos dividir os dados em quartis dentro do cluster 2.

# Primeiro, vamos encontrar os quartis dentro do cluster 2
quartis_cluster_3 = cluster_3_df['Frequencia_HEX'].quantile([0.25, 0.5, 0.75])
quartis_cluster_3

# Agora vamos usar pd.cut para criar as categorias categóricas baseadas nesses quartis
# Vamos definir as categorias como 'Baixa', 'Média', 'Alta', 'Muito Alta'
categorias = ["Baixa", "Média", "Alta", "Muito Alta"]
cluster_3_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_3_df['Frequencia_HEX'], 
                                                   bins=[-float("inf"), quartis_cluster_3[0.25], quartis_cluster_3[0.5], 
                                                         quartis_cluster_2[0.75], float("inf")], 
                                                   labels=categorias)

# Exibir as primeiras linhas para verificar a categorização
cluster_3_df.head()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_15532\304690287.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_3_df['Frequencia_HEX_Categoria'] = pd.cut(cluster_3_df['Frequencia_HEX'],

,Hexagono,Bairro,UP,Mes,Aumentou,Quantidade_passageiros(Y),Numero_linhas,Frequencia_HEX,Populacao,Renda_DOMICILIAR,Quantidade_escolas,Cluster,Frequencia_HEX_Categoria
17,89a88cda337ffff,Califórnia,Glória,"agosto, 2022",0,0,1,50,322,503.6,0,3,Baixa
18,89a88cda3a3ffff,Califórnia,Glória,"agosto, 2022",0,76,1,98,419,588.7,0,3,Alta
32,89a88cdae17ffff,Pindorama,Glória,"agosto, 2022",0,95,1,93,461,469.0,0,3,Alta
46,89a88cdae8fffff,Pindorama,Glória,"agosto, 2022",0,29,1,93,155,293.4,0,3,Alta
47,89a88cdae9bffff,Pindorama,Glória,"agosto, 2022",0,184,1,72,26,257.5,0,3,Média

In [29]:

# Criar uma tabela de contingência
contingency_table_cluster_3 = pd.crosstab(cluster_3_df['Aumentou'], cluster_3_df['Frequencia_HEX_Categoria'])

# Realizar o teste qui-quadrado
chi2_result, p_value, dof, expected_freq = chi2_contingency(contingency_table_cluster_3)

chi2_result, p_value, dof, expected_freq, contingency_table_cluster_3

(6.008911764705882,
 0.11117745244374609,
 3,
 array([[ 5.15151515,  4.84848485,  7.57575758,  2.42424242],
        [11.84848485, 11.15151515, 17.42424242,  5.57575758]]),
 Frequencia_HEX_Categoria  Baixa  Média  Alta  Muito Alta
 Aumentou
 0                             9      4     6           1
 1                             8     12    19           7)